@charset "utf-8";

* { margin:0; padding:0; }
li { list-style:none; }

@media screen and (max-width:520px) {
	#container { width:auto; }
		h1 { font-size:16px; color:#f00; }
		#content { float:none; width:auto; }
		#sidebar { float:none; width: auto; }
}