@charset "utf-8";
@import url(reset.css);

#wrapper {
	width:700px;
	margin:0 auto;
	outline:1px solid red;
}

#header {}
	h1 { background-color:#eee; }

#main { padding:10px; }
	ul {
		width:190px;
		line-height:25px;
		float:left;
		outline:1px solid red; 
	}
	.contents { 
		width:490px;
		float:right;
		line-height:160%;
	}
		.nopadd, p { padding-top:10px; }
		p { text-align:justify;}
		
#footer{ 
	clear:both; 
	background-color:#eee;
	height:35px;
	line-height:35px;
	padding-left:10px;
}