@charset "utf-8";
@import url(reset.css);

#wrapper { width:700px; margin:0 auto; }

	#header { background-color:#eee; }
	
	#container { padding:10px; overflow:hidden; }
		.menu { width:190px; float:left; }
			.menu li { padding:5px 0; border-bottom:1px dashed #000; }
				.menu li:hover { background-color:#bcc7ff; }
				.menu li:hover a { color:#001582; font-weight:bold; text-decoration:none; }
		.content { float:right; width:490px; }
			p { margin-top:10px; line-height:160%; text-align:justify;}
			p.pan { margin-bottom:10px; }
			
	#footer { background-color:#666; padding:20px; }
		address { color:#fff; font-weight:bold; font-size:20px; }