@charset "utf-8";

* { margin:0; padding:0; }
li { list-style:none; }
img { vertical-align:middle; border:none; }
address, em { font-style:normal; }
a { color:#fff; text-decoration:none; }
body{font:12px "런드리고딕"; /*background:url(../images/bg_grid.gif);*/}