@charset "utf-8";
@import url(reset.css);

#wrapper {
    background-color: #e2f3de;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 900px;
    margin: 0 auto;
}
    #gnb {
        background-color: #4E4039;
        width: 900px;
        height: 90px;
        position: absolute;
        top: 0;
        text-align: center;
    }
        h1 img { width: 50px; }
        .nav li {
            display: inline-block;
            margin-top: 5px;
            position: relative;  /*z-index가 작동하게 하기 위해 추가*/
            z-index: 2;
        }
        .nav > li {
            margin: 20px 10px;
        }
        .nav > li > a { font-size: 16px; }
        .nav li ul, .navBottomMenu {
            display: none;
        }
        .nav > li:hover ul {
            display: inline-block;
            position: absolute;
            top: 100%;
            left: 0;
        }
        .navBottomMenu {
            background-color: #4E4039;
            height: 20px;
            position: relative;
            top: -19px;
            opacity: 0.8;
            z-index: 1;
        }
        .nav > li:hover ~ .navBottomMenu {
            display: block;
        }
        
    main{}
    
    table {
        border-collapse: collapse;
        width: 100%;
    }
    th, td {
        border: 1px solid black;
        text-align: center;
    }
    th {
        background-color: black;
    }

    footer { text-align: center; }
        footer h1 { padding: 10px 0; }
        footer p { line-height: 160%; }