@charset "utf-8";

/* 내 방식
* { margin:0; padding:0; }
li { list-style-type:none; }
img,fieldset { border:none; }
address,em { font-style:normal; }
	.container { width:80%; margin:0 auto; background-color:#eee; border:1px solid #000; font-family:궁서; padding:20px 50px 50px; position:relative; }
	h1 { text-align:center; color:#5f2a62; margin:20px; }
	div.inner { width:80%; height:400px; background-color:#fff; border:1px solid #000; padding:10px; position:relative; margin:0 auto;; } 
		.inner .header { width:200px; height:60px; background-color:#a68ea8; color:#fff; text-align:center; line-height:60px; border:1px solid #000; position:absolute; top:-5px; left:-25px; }
		p.content { margin:75px 200px 0 25px; }
*/

* { margin:0; padding:0; }
img { border:0; }
body { font-family:궁서; }
.container { width:80%; margin:30px auto; border:1px solid #000; background-color:#ccc; padding:20px 50px 50px; }
	h1 { color:purple; text-align:center; margin:20px 0; }
	.inner { position:relative; background-color:#fff; border:1px solid #000; height:400px; padding:10px;} 
		.inner h2 { position:absolute; top:-25px; left:-25px; width:200px;  border:1px solid #000;background-color:#999; color:#fff; text-align:center; padding:15px 30px; } 
		.inner img { margin-top:50px; }
		.content { margin:50px 200px 0 25px; font-size:12px; font-weight:bold; }