@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Righteous);

/*  Reset CSS  */
* { margin:0;  padding:0;}
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#555; }
img { border:0;}
body { font:12px/1.6 arial; color:#555; background:#e6f6f3;} 
input, img { vertical-align:top;}

.top { width:0%; height:2px; background:#f00; position:absolute; top:0px; left:0px;}
.bottom { width:0%; height:2px; background:#f00; position:absolute; bottom:0px; right:0px;}
.right { width:2px; height:0%; background:#f00; position:absolute; top:0px; right:0px;}
.left { width:2px; height:0%; background:#f00; position:absolute; bottom:0px; left:0px;}
section { width:980px; height:450px; position:fixed; top:50%; margin-top:-225px; left:50%; margin-left:-490px;  outline:1px solid pink; */ }

section h1 { position:absolute; left:360px; top:180px; z-index:999; cursor:pointer; }
section #gnb { position:absolute; width:100%; left:0px; top:0px; opacity:0;}
section #gnb li { float:left; text-align:left; margin-right:56px; }
section #gnb li:nth-child(1), section #gnb li:nth-child(2) {}

section #gnb li:nth-child(3), section #gnb li:nth-child(4), section #gnb li:nth-child(5), section #gnb li:nth-child(6), section #gnb li:nth-child(7) {color:#ccc; }

section #gnb li:nth-child(8) { color:#ccc; margin-right:0px; }

.util { width:300px; height:70px; background:#d8edea; border-radius:6px; position:absolute; right:0px; top:-60px; padding:15px 20px; box-sizing:border-box; opacity:0;}
.util ul { overflow:hidden;}
.util li { float:right; margin-left:20px; font-size:12px; color:#ccc;}
.util li i { color:#ccc; font-size:18px; margin-right:10px;}
.util p { font:bold 12px/2.6 arial; color:#fff; letter-spacing:1px; text-align:right;}

section>article { width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:3; perspective:700px;}
section>article.on { z-index:10;} /* .box1, .box2 */
section>article>div { transform:rotateY(-180deg); opacity:0; transition:all 1.0s;}
section>article>div:nth-child(1) { transition-delay:0s;}
section>article>div:nth-child(2) { transition-delay:0.1s;}
section>article>div:nth-child(3) { transition-delay:0.2s;}
section>article>div:nth-child(4) { transition-delay:0.3s;}
section>article>div:nth-child(5) { transition-delay:0.4s;}
section>article>div:nth-child(6) { transition-delay:0.5s;}
section>article>div:nth-child(7) { transition-delay:0.6s;}
section>article>div:nth-child(8) { transition-delay:0.7s;}
section>article>div:nth-child(9) { transition-delay:0.8s;}
section>article>div:nth-child(10) { transition-delay:0.9s;}

section>article.on>div { transform:rotateY(0deg); opacity:1;} /* on 클래스를 받은 조각그림들(div)가 회전하면서 나타남. */
section>article>img { opacity:0; transform:scale(10); transition:all 1s;} /* 왼쪽 위 십자가 표시 로고 */
section>article.on>img:hover { transform:scale(1.3);}   
section>article.on>img { opacity:1;  transform:scale(1);}   /* 왼쪽 위 십자가 표시 로고 */

.search { width:342px; height:36px; position:absolute; left:0px; bottom:0px; opacity:0;}
.search input[type="text"] { width:260px; height:36px; background:#fff; border:none; padding:0px; padding-left:20px; color:#c8dbd7;}

.btnMenu,.btnMenu2 { position:absolute; top:10px; left:10px; cursor:pointer;}
.footer { width:320px; height:40px; background:#bfddd9; border-radius:6px; box-sizing:border-box; position:absolute; right:0px; bottom:0px; padding:10px 35px; opacity:0;}
.footer li { float:left; margin-right:55px; font-size:12px; color:#fff; font-weight:bold;}
.footer li:nth-child(2) { margin-right:0px;}
.footer li i { margin-right:10px; font-size:20px;}
.footer li b { line-height:1;}
address { position:absolute; right:280px; bottom:200px; font:11px arial; color:#aaa; letter-spacing:3px; }

.box1>div { float:left; height:150px; background-image:url(../img/bgVisual.jpg); outline:1px solid blue; } /* 980x450 */
.box1 div:nth-child(1) { width:33%; background-position:0px 0px;} 
.box1 div:nth-child(2) { width:33%; background-position:-323px 0px;} /* 1줄 2칸 : 323.4px---980x0.33 */
.box1 div:nth-child(3) { width:34%; background-position:-647px 0px;}
.box1 div:nth-child(4) { width:25%; background-position:0px -150px;}
.box1 div:nth-child(5) { width:25%; background-position:-245px -150px;}
.box1 div:nth-child(6) { width:25%; background-position:-490px -150px;}
.box1 div:nth-child(7) { width:25%; background-position:-735px -150px;}
.box1 div:nth-child(8) { width:33%; background-position:0px -300px;}
.box1 div:nth-child(9) { width:33%; background-position:-323px -300px;}
.box1 div:nth-child(10) { width:34%; background-position:-647px -300px;}

.box2>div { float:left; height:150px;}
.box2 div:nth-child(1) { width:40%; height:300px!important; background:url(../img/pic1.jpg) no-repeat center center; background-size:cover;}
.box2 div:nth-child(2) { width:30%; background:url(../img/pic31.jpg) no-repeat center center; background-size:cover;}
.box2 div:nth-child(3) { width:30%; background:url(../img/pic2.jpg) no-repeat center center; background-size:cover;}
.box2 div:nth-child(4) { width:20%; background:url(../img/pic14.jpg) no-repeat center bottom; background-size:cover;}
.box2 div:nth-child(5) { width:20%; background:url(../img/pic6.jpg) no-repeat center center; background-size:cover;}
.box2 div:nth-child(6) { width:20%; background:url(../img/pic7.jpg) no-repeat center top; background-size:cover;}
.box2 div:nth-child(7) { width:25%; background:url(../img/pic01.jpg) no-repeat center center; background-size:cover;}
.box2 div:nth-child(8) { width:25%; background:url(../img/pic11.jpg) no-repeat center top; background-size:cover;}
.box2 div:nth-child(9) { width:25%; background:#fff url(../img/pic5.jpg) no-repeat center top; background-size:cover;}
.box2 div:nth-child(10) { width:25%; background:url(../img/pic9.jpg) no-repeat center center; background-size:cover;}
